#SceneSceneLogin {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color : #ffffff;
	background-image : url('');
}
#SceneSceneLogin #username{
	position : absolute;
	left : 119px;
	top : 110px;
	width : 173px;
}
#SceneSceneLogin #password{
	position : absolute;
	left : 119px;
	top : 170px;
	width : 173px;
}
